.hamburger-menu-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.hamburger-menu-div.visible {
  animation: hamburger-menu-visible 1s 1 forwards;
}

.hamburger-menu-div.invisible {
  animation: hamburger-menu-invisible 1s 1 forwards;
}

@keyframes hamburger-menu-visible {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes hamburger-menu-invisible {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
