.header-logo {
  width: 30px;
  height: 24px;
}

.header__logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-link {
  align-items: center;
}
.header {
  height: 7vh;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgb(1, 6, 8, 0.6);
  margin: 0px;
  border-bottom: solid 2px rgba(32, 31, 31, 0.5);
  border-image: linear-gradient(90deg, transparent 0%, rgb(35, 1, 18), transparent 100%);
  border-image-width: 2px;
  border-image-slice: 0 0 1 0;
  z-index: 100;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.header__right-side-div {
  display: flex;
}
.cart-item-quantity {
  margin: 0px;
  margin-left: 0.3vw;
}

.cart-logo {
  width: 20px;
  height: 20px;
}

.cart-div {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.header__logo-text {
  margin: 0px;
}
